$black : black;

body {
  font-family: monospace;
  color: black;
  background-image: url("../../scss/img01.jpg");
  background-position: top;
  background-repeat: no-repeat;
  .container {
    button {
      color: black;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    label {
      font-size: 24px;
    }
    #enteredUserName {
      text-align: center;
      font-size: 24px;
    }
  }
}

.jumbotron {
  text-align: center;
}

#results {
  font-family: monospace;
  font-size: 24px;
}
