body {
  font-family: monospace;
  background-image: url("../../scss/img01.jpg");
  background-position: top;
  background-repeat: no-repeat;
  .container {
    h1 {
      text-align: center;
      font-weight: bold;
    }
    button {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
    }
    #printInput {
      font-size: 32px;
    }
  }
}
