$black : black;
$gray: gray;

body {
  font-family: monospace;
  color: black;
  background-color: gray;

  .container {
    button {
      color: black;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    label {
      font-size: 24px;
    }
    #enteredUserName {
      text-align: center;
      font-size: 24px;
      padding-bottom: 10px;
    }
  }
}

.jumbotron {
  text-align: center;
}

#results {
  font-family: monospace;
  font-size: 24px;
}

li {
  padding-bottom: 10px;
}

ol {
  margin: 15px;
}

#intro {
  text-align: center;
  font-weight: bold;
}
